@import "../fonts/index.css";

@layer utils {
  .avineo-font {
    font-family: "Avineo", "ui-serif", "serif";
  }

  .monument__regular-font {
    font-family: "Monument Extended Regular", "system-ui", "-apple-system",
      "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", "sans-serif";
  }

  .monument__ultrabold-font {
    font-family: "Monument Extended Ultrabold", "system-ui", "-apple-system",
      "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", "sans-serif";
  }

  .moresby-font {
    font-family: "Moresby", "Dank Mono", "Operator Mono", "Inconsolata",
      "Fira Mono", "ui-monospace", "SF Mono", "Monaco", "Droid Sans Mono",
      "Source Code Pro", "monospace";
  }
}
